.ProgressLoader {
    @media (min-width: 600px) {
        .ProgressLoader {
            min-width: 344px !important;
        }
    }
    min-width: 344px !important;



    .card {
        width: 100%;
        .wrapper {
            padding: 8px 8px 8px 16px;
            height: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            .loader {
                width: 100%;
            }
        }
    }


}