.MainScene {
    position: relative;
    .ControlsSelector {
        position: absolute;
        top: 32%;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        & >button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            margin: 5px;
            :hover {
                cursor: pointer;
                animation: rotate 2s linear infinite;
                transform: scale(1.1);
            }
        }


    }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}