.MainScene {
    display: flex;
    flex-direction: column;

    #mainScene {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        width: unset;
        height: unset;
    }
    .MainWindow {
        border: solid 1px red;
        position: relative;
    }
    .Controls {
        position: absolute;
        top: 6%;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;

        & > button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            margin: 5px;

            :hover {
                cursor: pointer;
                animation: rotate 2s linear infinite;
                transform: scale(1.1);
            }
        }

        .background {
            font-size: x-small;
        }

        .bg {
            background: #000;
            color: #fff;
            padding: 5px;
            border-radius: 5px;
            margin: 5px;
        }

        .bg-true {
            border: 1px solid #00ff00;
        }

        .bg-false {
            border: 1px solid #ff0000;
        }

        .background small {
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .background:hover small {
            opacity: 1;
        }

    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}