

#root {
  /*max-width: 1280px;*/
  padding: 4rem;
  text-align: center;
  overflow:hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 2rem;
  background-color: hsla(99, 22%, 23%, 0.75);
  @media (max-width: 800px) {
    padding: 2rem;
  }
  @media (max-width: 500px){
    padding: 1rem;
  }


  .App {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-flow: row wrap;
    gap: 2%;
  }
  /* Medium screens */
  @media all and (max-width: 800px) {
    .App {
      /* When on medium sized screens, we center it by evenly distributing empty space around items */
      justify-content: space-around;
    }
  }

  /* Small screens */
  @media all and (max-width: 500px) {
    .App {
      /* On small screens, we are no longer using row direction but column */
      /*flex-direction: column;*/

    }
  }
}

